<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href=""> Move Application </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.vermeg.com/about-us-empowered/">
          About Us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.vermeg.com/fr/blogs/"> Blog </a>
      </li>
    </ul>
    <div class="copyright">
      <i class="tim-icons icon-heart-2"> </i> from
      <a href="https://www.vermeg.com/fr/" target="_blank"> Vermeg</a>
      for a better web.
    </div>
  </div>
</footer>
